{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@actions": "./actions",
          "@api": "./api",
          "@components": "./components",
          "@lib": "./lib",
          "@reducers": "./reducers",
          "@store": "./store"
        },
        "extensions": [".js", ".jsx", ".json", ".ts", ".tsx"]
      }
    ]
  ]
}
